.onboarding-container {
  max-width: 350px;
  margin: 4rem auto;
  background: #1a1a1a;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 40px #078e8e3c;
  color: #e0e0e0;
  text-align: center;
}

.icon-circle {
  width: 80px;
  height: 80px;
  margin: 1rem auto;
  border-radius: 50%;
  background: radial-gradient(circle at 40px 30px,#15ffb0 60%,#033d36 100%);
}

.step-check {
  color: #00ffc2;
  padding-right: 0.5em;
  font-weight: bold;
}

.continue-btn {
  margin-top: 2em;
  padding: 0.8em 2em;
  font-size: 1.15em;
  border: none;
  border-radius: 10px;
  background: #17ffc1;
  color: #033d36;
  font-weight: bold;
  cursor: pointer;
}
